@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GeistVF'; /* Nombre que usarás en tu CSS */
  src: url('fonts/GeistVF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMonoVF'; /* Nombre que usarás en tu CSS */
  src: url('fonts/GeistMonoVF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'GeistVF', sans-serif; /* Fuente por defecto */
}
